.cards {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1500px;
    flex-wrap: wrap;
    font-family: "Comic Sans MS",
        "Comic Sans",
        cursive;
}

.character--card {
    padding: 10px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    margin: 15px;
    background-color: lightgreen;
    box-shadow: 0 0 15px gray;
    
}

.card--stats > h3 {
    font-weight: 800px;
}

.card--stats {
    margin-left: 20px;
}